

{% block content %}

<div>
    <form method="POST" action="" >
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Create Post"/>
    </form>    


</div>

{% endblock content %}

<!-- The Modal 
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header 
        <div class="modal-header">
          <h5 class="modal-title">Create Post </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body 
        <div class="modal-body">
                
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <img src="static/image/profile.jpg">
                    </div>
        
                    <div class="info">
                        <h6>celeste.francisco.1441</h6>
                        <small>Aaron Ojo Sales</small>
                    </div>
                </div>
             
             </div>







          <form action="" class="post-item">
            <label for="location" class="form-label">Location</label>
            <input type="location" class="form-control" id="email">

            <label for="category" class="form-label">Category</label>
            <select class="form-select">
              <option value="" disabled selected>-- select category --</option>
              <option value="apparel">Apparel</option>
              <option value="kitchenware">Kitchenware</option>
              <option value="householdTool">Household Tools</option>
              <option value="ornamentalItems">Ornamental Items</option>
              <option value="electronics">Electronics</option>
              <option value="readingMaterials">Reading Materials</option>
              <option value="stationaryProducts">Stationary Products</option>
              <option value="consumable">Consumables</option>
              <option value="furnitures">Furniture</option>
              <option value="others">Others</option>
            </select>

            <label for="quantity" class="form-label">Quantity</label>
            <select class="form-select">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>

            

            

            <label for="condition" class="form-label">Condition</label>
            <select class="form-select">
              <option>Used</option>
              <option>New </option>
            </select>

            <label class="form-label" for="customFile">Upload Image</label>
            <input type="file" class="form-control" id="customFile" />
            
            <label for="notes" class="form-label">Notes</label>
            <input type="notes" class="form-control" id="notes">

          </form>


        </div>
  
        Modal footer -
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Post</button>
        </div>
  
      </div>
    </div>
  </div>end of modal-->


