

{% block content %}

<div>
    <a href="{% url 'feeds' %}">Back</a>
</div>

<div>
    <div>
    <h3>{{room.name}}<h3>
    </div>    
        <p>{{room.notes}}</p>
        <p>Location: {{room.location}}</p>
        <p>Condition: {{room.condition}}</p>
        <p>Quantity: {{room.quantity}}</p> 
    
    
        <div>
            <small>{{room.category.name}}</small>
        </div> 
</div>  




<hr>
<div class="comment-wrapper">
    <h4>Conversation</h4>
    

    {% for message in room_messages %}  
        <div>
            {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}
            <small>@{{message.user}} {{message.created|timesince}} ago </small>
            <p>{{message.body}}</p>
            <hr>
        </div>

    {% endfor %}

</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
        {% csrf_token %}  
        <input type="text" name="body" placeholder="Write your message here...">
        
    </form>
</div>
{% endif %}

{% endblock %}